.container {
  max-width: 960px;
}
main {
  min-height: calc(100vh - 215px);
}

.cont {
  overflow: auto;
  height: 200px;
}

.item {
  cursor: pointer;
}

.item:hover {
  background-color: gainsboro;
}
